gstoscctrl-0.10.0/Makefile.in
gstoscctrl-0.10.0/aclocal.m4
gstoscctrl-0.10.0/config.guess
gstoscctrl-0.10.0/config.sub
gstoscctrl-0.10.0/configure
gstoscctrl-0.10.0/ltmain.sh
gstoscctrl-0.10.0/src/Makefile.in
