*/*/a.out
*/a.out
*~
closures
cpp/*/a.out
dir_track
gst/basic
gst/decklink
gst/dynplay
gst/imagesink_dynplug
gst/rtp-codec
gst/sin
gstoscctrl-0.10.0/Makefile.in
gstoscctrl-0.10.0/aclocal.m4
gstoscctrl-0.10.0/config.guess
gstoscctrl-0.10.0/config.sub
gstoscctrl-0.10.0/configure
gstoscctrl-0.10.0/ltmain.sh
gstoscctrl-0.10.0/src/Makefile.in
node.js/switcher_addon_gyp/build/
urirec
vnc/gtkvnc2shm
